strategy_v1/workflows_v1.0_backup/sentiment-analysis.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, content, url, published_at, source\nFROM news_articles\nWHERE symbol = '{{ $json.symbol }}'\n  AND analyzed = false\n  AND fetched_at >= CURRENT_DATE\nORDER BY published_at DESC\nLIMIT 10",
        "options": {}
      },
      "id": "b37509f3-858f-4087-970d-811962b999fb",
      "name": "Get_Unanalyzed_News",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        256,
        784
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Cg19dKBPWwzZgtn2",
          "name": "PostgreSQL Trading"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "68e4903e-94c7-4528-beb4-496d3061f2fe",
      "name": "loop_over_tickers",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -96,
        912
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol FROM tracked_symbols WHERE active = true ORDER BY symbol",
        "options": {}
      },
      "id": "247f9a6a-e98c-45eb-8821-b12ba23d676a",
      "name": "Get_Active_Symbols",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -320,
        912
      ],
      "credentials": {
        "postgres": {
          "id": "Cg19dKBPWwzZgtn2",
          "name": "PostgreSQL Trading"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "770d6272-1cde-44d7-9e15-fe5d7c28ba36",
              "operator": {
                "name": "filter.operator.exists",
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ String($json.id ?? '') }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ec4b58c-3fc4-4c92-ac9f-09b6f8bc6143",
      "name": "If_No_Articles",
      "type": "n8n-nodes-base.if",
      "position": [
        480,
        784
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "// Continue to next symbol - keep flow going\nconst symbol = $('loop_over_tickers').item?.json?.symbol ?? $json.symbol ?? null;\nreturn [{ json: { skipped: true, symbol } }];"
      },
      "id": "991e14c8-b759-4538-a064-106459c54fa7",
      "name": "Skip_No_Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine articles into a single string for AI analysis\nconst articles = $input.all();\nconst combinedString = JSON.stringify(articles.map(item => item.json), null, 2);\n\nreturn [{\n  json: {\n    fullString: combinedString,\n    articleCount: articles.length\n  },\n  pairedItem: articles.map((_, index) => ({ item: index }))\n}];"
      },
      "id": "0fafa46e-fe34-4263-9227-3d772012458a",
      "name": "join_articles_into_1",
      "type": "n8n-nodes-base.code",
      "position": [
        704,
        880
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Extract clean JSON from AI output\ntry {\n  const rawString = $input.first().json.output || '';\n  \n  // Find JSON object boundaries\n  const jsonStart = rawString.indexOf('{');\n  const jsonEnd = rawString.lastIndexOf('}');\n  \n  if (jsonStart === -1 || jsonEnd === -1) {\n    return { json: { error: 'No JSON found in output', sentiment_score: 0, rationale: 'Parse error' } };\n  }\n  \n  // Extract and parse JSON\n  const cleanJson = rawString.substring(jsonStart, jsonEnd + 1);\n  const parsed = JSON.parse(cleanJson);\n  \n  // Validate required fields\n  if (typeof parsed.sentiment_score === 'undefined' || parsed.sentiment_score === null) {\n    parsed.sentiment_score = 0;\n  }\n  if (!parsed.rationale) {\n    parsed.rationale = 'No rationale provided';\n  }\n  \n  return { json: parsed };\n} catch (error) {\n  return { json: { error: error.message, sentiment_score: 0, rationale: 'Error: ' + error.message } };\n}"
      },
      "id": "485196d4-1445-4fcb-92b6-42afd503c8f0",
      "name": "format_output_as_json",
      "type": "n8n-nodes-base.code",
      "position": [
        1664,
        896
      ],
      "executeOnce": false,
      "retryOnFail": false,
      "typeVersion": 2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "770d6272-1cde-44d7-9e15-fe5d7c28ba36",
              "operator": {
                "type": "string",
                "operation": "notExists"
              },
              "leftValue": "={{ $json.error }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cddf2f2b-8aec-4418-9df6-a30188d3f353",
      "name": "if_format_succesful",
      "type": "n8n-nodes-base.if",
      "position": [
        1936,
        896
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sentiment_scores (date, symbol, sentiment_score, rationale, article_count) VALUES ( CURRENT_DATE, '{{ $('loop_over_tickers').item.json.symbol }}', {{ Number($json.sentiment_score ?? 0) }}, '{{ String($json.rationale ?? 'No analysis').replace(/'/g, \"''\") }}', {{ $('join_articles_into_1').first().json.articleCount }} ) ON CONFLICT (date, symbol) DO UPDATE SET sentiment_score = EXCLUDED.sentiment_score, rationale = EXCLUDED.rationale, article_count = EXCLUDED.article_count",
        "options": {}
      },
      "id": "86ad67a3-1467-4149-8da6-16e43c552657",
      "name": "save_sentiment_to_db",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2464,
        1008
      ],
      "credentials": {
        "postgres": {
          "id": "Cg19dKBPWwzZgtn2",
          "name": "PostgreSQL Trading"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE news_articles SET analyzed = true WHERE symbol = '{{ $('loop_over_tickers').item.json.symbol }}' AND analyzed = false AND fetched_at >= CURRENT_DATE",
        "options": {}
      },
      "id": "1c6fd41c-7b0c-44bc-8f87-d624b8f33222",
      "name": "mark_articles_analyzed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2688,
        1008
      ],
      "credentials": {
        "postgres": {
          "id": "Cg19dKBPWwzZgtn2",
          "name": "PostgreSQL Trading"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 15
            }
          ]
        }
      },
      "id": "9c0f1ed8-36d3-445a-a6b0-b8dcebaab9d7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -544,
        912
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# Workflow Overview \n**This workflow automates the process of analyzing the sentiment of stock market news.**\n\n- retrieves a list of stock tickers from a Google Sheet \n- fetches recent news articles for each ticker\n- uses a large language model to perform sentiment analysis on the articles\n- records the sentiment scores and rationale back into a Google Sheet.",
        "height": 440,
        "width": 480
      },
      "id": "35c6903b-3474-4e22-adad-5d2019e01672",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 1. Daily Trigger and Stock Symbol Retrieval\n- **Schedule Trigger:** This workflow is set to run automatically every day at 3:00 PM. Analyzes unanalyzed news collected throughout the day.\n\n- **Get_Active_Symbols:** Reads active symbols from PostgreSQL tracked_symbols table.\n\n- **loop_over_tickers:** Processes each symbol one by one, fetching unanalyzed news from the database.",
        "height": 640,
        "width": 640,
        "color": 4
      },
      "id": "5a92fc82-5c1c-4738-9d87-d40cd5effb32",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 2. News Retrieval from Database\n\n- **Get_Unanalyzed_News:** Fetches up to 10 unanalyzed news articles for the current symbol from PostgreSQL news_articles table (analyzed=false, today's date).\n\n- **If_No_Articles:** Checks if any articles were found. If none, skips to next symbol.\n\n- **join_articles_into_1:** Combines multiple news articles into a single text string for AI analysis.",
        "height": 940,
        "width": 680,
        "color": 5
      },
      "id": "7417cb6e-083b-4b04-9cfa-76782a99380b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 3. Sentiment Analysis with AI\n\n- **AI Agent & Google Gemini Chat Model:** This is the core of the sentiment analysis. The \"AI Agent\" node is configured with a detailed prompt that instructs the \"Google Gemini Chat Model\" to act as a stock sentiment analyzer. The prompt specifies the input format (stock symbol, news title, and content), the analysis guidelines (sentiment score from -1 to 1 and rationale), and the desired JSON output format. The combined text of the news articles and the current stock ticker are passed to the model.l analyze all the articles at once.",
        "height": 800,
        "width": 500,
        "color": 6
      },
      "id": "8bb275f1-810d-477c-bf79-bef0b34c8a17",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 4. Output Formatting and Error Handling\n\n- **format_output_as_json:** The output from the AI model is a raw string that includes a JSON object. This code node extracts the clean JSON from the string and prepares it for the next steps.\n\n- **if_format_succesful:** This conditional node checks if the previous step of formatting the AI's output into a clean JSON was successful. If there was an error, it sends the workflow back to the \"AI Agent\" to try again.",
        "height": 860,
        "width": 560,
        "color": 2
      },
      "id": "5ae1dfb4-3ca6-432d-b5a5-93f53715bf62",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 5. Storing Results in PostgreSQL\n\n- **save_sentiment_to_db:** Saves sentiment analysis to PostgreSQL sentiment_scores table. Uses ON CONFLICT to update if symbol already analyzed today.\n- **mark_articles_analyzed:** Marks processed news articles as analyzed=true to avoid reprocessing.",
        "height": 600,
        "width": 520,
        "color": 3
      },
      "id": "5289ea31-c369-4d5e-b44c-e1bc8eea7229",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        912
      ],
      "id": "cec9c6db-76aa-49a5-a7ad-1f94af384f64",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KyIYFpVPH1lS6e89",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a stock sentiment analyzer. Your task is to evaluate news content for their potential impact on a specific stock.\n\nInput Format:\n    User input is in the following format:\n        Symbol: (The stock symbol also called ticker symbol)\n        title: (News headline that you have to analyze for sentiment of the given stock)\ncontent:(the content of the news to analyze)\nAnalysis Guidelines:\n    Evaluate how the news might affect the price of only the stock specified by the user in the input and generate a sentiment score between -1 and 1.\n    A score close to -1 indicates a strong negative impact, suggesting the news could significantly drive the stock price down.\n    A score near 0 represents a neutral impact, implying little to no effect on the stock price.\n    Conversely, a score close to 1 reflects a strong positive impact, likely driving the stock price up.\n    When generating the score, consider whether the news is surprising i.e., if it contains new information - or already priced in.\n    Explain in detail the rationale behind the score, highlighting why the news is positive, negative, or neutral for the given stock's price.\nOutput Format:\n    Return the result as JSON in the following format:\n\n        { symbol: (The stock symbol also called ticker symbol),\"sentiment_score\": (The sentiment score - float between -1 and 1), \"rationale\": (Your explanation for the score)}\nProvide the JSON output only. Do not include any other text.\n\nReal stock Symbol:\n{{$('loop_over_tickers').item.json.symbol}}\n{{ $('join_articles_into_1').all()[0].json.fullString }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1008,
        736
      ],
      "id": "a04b17d4-ea44-417b-86b3-7e334d21ebf1",
      "name": "AI Agent1"
    }
  ],
  "connections": {
    "Get_Unanalyzed_News": {
      "main": [
        [
          {
            "node": "If_No_Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop_over_tickers": {
      "main": [
        [],
        [
          {
            "node": "Get_Unanalyzed_News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Active_Symbols": {
      "main": [
        [
          {
            "node": "loop_over_tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_No_Articles": {
      "main": [
        [
          {
            "node": "join_articles_into_1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip_No_Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip_No_Articles": {
      "main": [
        [
          {
            "node": "loop_over_tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "join_articles_into_1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_output_as_json": {
      "main": [
        [
          {
            "node": "if_format_succesful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if_format_succesful": {
      "main": [
        [
          {
            "node": "save_sentiment_to_db",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_sentiment_to_db": {
      "main": [
        [
          {
            "node": "mark_articles_analyzed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mark_articles_analyzed": {
      "main": [
        [
          {
            "node": "loop_over_tickers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get_Active_Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "format_output_as_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "761f1737ead169f86632b637ef0da6362172a07a6a3e5de45f80125c04107994"
  }
}