strategy_v1/archive/ema-logger-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/1 15-22 * * 1-5"
            }
          ]
        }
      },
      "id": "c884b23c-f1c9-4123-ba28-a0c9e76f88cc",
      "name": "Every 1 Minute (Market Hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        4112,
        224
      ],
      "notes": "Cron: 15:00-22:59 пн-пт (CET) = 09:00-16:59 ET. Split Batch Response останавливает при пустом ответе"
    },
    {
      "parameters": {
        "url": "https://data.alpaca.markets/v2/stocks/bars",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "AAPL,NVDA,TSLA,GOOGL,MSFT,AMZN,META"
            },
            {
              "name": "timeframe",
              "value": "1Min"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "adjustment",
              "value": "split"
            },
            {
              "name": "feed",
              "value": "iex"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "4a599fcc-d1b3-45c4-8cce-c4f17cd55507",
      "name": "Get All OHLC Bars (Batch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        224
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      },
      "notes": "Получает последний бар (1Min) для всех 7 символов одним запросом"
    },
    {
      "parameters": {
        "jsCode": "// Ответ от Alpaca: {bars: {AAPL: [...], NVDA: [...]}}\nconst barsData = $input.first().json.bars || {};\nconst symbols = Object.keys(barsData);\n\nif (!symbols.length) {\n  // Рынок закрыт или нет данных - пропускаем выполнение\n  $execution.stop();\n  return [];\n}\n\n// Развернуть в массив объектов для цикла\nreturn symbols.map(symbol => ({\n  json: {\n    symbol,\n    bars: barsData[symbol] || []\n  }\n}));"
      },
      "id": "0b874c9a-3803-48a6-8392-a1985e20fefe",
      "name": "Split Batch Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4528,
        224
      ],
      "notes": "Парсит batch-ответ и развертывает в массив {symbol, bars} для обработки"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f1ab6f29-180d-4ec3-b259-7e5c4416b2cf",
      "name": "For Each Symbol",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4736,
        224
      ],
      "notes": "Обрабатывает каждый символ по очереди (ЦИКЛ)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT close_price, volume, timestamp\nFROM ema_snapshots\nWHERE symbol = '{{ $json.symbol }}'\nORDER BY timestamp DESC\nLIMIT 200",
        "options": {}
      },
      "id": "get-historical-from-db",
      "name": "Get Historical Prices from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        4880,
        240
      ],
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      },
      "notes": "Получает последние 200 записей из БД для расчета EMA200"
    },
    {
      "parameters": {
        "jsCode": "const symbolData = $items('For Each Symbol')[0].json;\nconst { symbol, bars } = symbolData;\nconst dbData = $input.all();\n\nif (!bars || !bars.length) {\n  return {\n    json: {\n      symbol,\n      error: 'No bars returned from API',\n      notReady: true\n    }\n  };\n}\n\n// Объединить исторические данные из БД с новым баром\nconst historicalCloses = dbData.map(item => parseFloat(item.json.close_price)).reverse();\nconst historicalVolumes = dbData.map(item => parseFloat(item.json.volume)).reverse();\nconst newBar = bars[0];\nconst newClose = parseFloat(newBar.c);\nconst newVolume = parseFloat(newBar.v);\n\nconst allCloses = [...historicalCloses, newClose];\nconst allVolumes = [...historicalVolumes, newVolume];\n\nfunction calculateEMA(prices, period) {\n  const ema = [];\n  const multiplier = 2 / (period + 1);\n  let sum = 0;\n  \n  for (let i = 0; i < period && i < prices.length; i++) {\n    sum += prices[i];\n  }\n  ema[period - 1] = sum / period;\n  \n  for (let i = period; i < prices.length; i++) {\n    ema[i] = (prices[i] - ema[i - 1]) * multiplier + ema[i - 1];\n  }\n  return ema;\n}\n\nfunction calculateRSI(prices, period = 14) {\n  if (prices.length < period + 1) return null;\n  let gains = 0, losses = 0;\n  \n  for (let i = 1; i <= period; i++) {\n    const diff = prices[i] - prices[i - 1];\n    if (diff >= 0) gains += diff;\n    else losses += Math.abs(diff);\n  }\n  \n  let avgGain = gains / period;\n  let avgLoss = losses / period;\n  \n  for (let i = period + 1; i < prices.length; i++) {\n    const diff = prices[i] - prices[i - 1];\n    const gain = diff >= 0 ? diff : 0;\n    const loss = diff < 0 ? Math.abs(diff) : 0;\n    avgGain = (avgGain * (period - 1) + gain) / period;\n    avgLoss = (avgLoss * (period - 1) + loss) / period;\n  }\n  \n  if (avgLoss === 0) return 100;\n  const rs = avgGain / avgLoss;\n  return 100 - (100 / (1 + rs));\n}\n\nfunction calculateSMA(values, period) {\n  if (values.length < period) return null;\n  const slice = values.slice(values.length - period);\n  return slice.reduce((a, b) => a + b, 0) / period;\n}\n\nconst last = allCloses.length - 1;\nconst prev = Math.max(0, allCloses.length - 2);\n\nconst current = { close: allCloses[last], timestamp: newBar.t };\nconst previous = { close: allCloses[prev] };\n\nconst periods = [5, 8, 9, 13, 20, 21, 34, 50, 100, 200];\n\nperiods.forEach(p => {\n  if (allCloses.length >= p) {\n    const emaValues = calculateEMA(allCloses, p);\n    current[`ema${p}`] = emaValues[last];\n    previous[`ema${p}`] = emaValues[prev];\n  }\n});\n\ncurrent.volume = allVolumes[last];\ncurrent.volume_ma20 = calculateSMA(allVolumes, 20);\ncurrent.rsi14 = calculateRSI(allCloses, 14);\n\nreturn {\n  json: {\n    symbol,\n    current,\n    previous,\n    timestamp: newBar.t,\n    lastBar: newBar\n  }\n};"
      },
      "id": "6f003f53-93d8-4d83-aa51-f448e5faa5a1",
      "name": "Calculate EMA/RSI/Volume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5104,
        240
      ],
      "notes": "Вычисляет все 10 EMAs, RSI14, Volume MA20 используя историю из БД + новый бар"
    },
    {
      "parameters": {
        "jsCode": "const { symbol, current, previous } = $json;\n\nif (!current || !previous) {\n  return {\n    json: {\n      symbol,\n      error: 'Missing data',\n      action: 'hold'\n    }\n  };\n}\n\nlet crossover = 'NONE';\nlet action = 'HOLD';\nlet message = '';\n\n// Golden Cross: EMA9 > EMA21\nif (previous.ema9 && previous.ema21 && current.ema9 && current.ema21) {\n  if (previous.ema9 <= previous.ema21 && current.ema9 > current.ema21) {\n    crossover = 'GOLD_UP';\n    action = 'BUY_SIGNAL';\n    message = `Golden Cross: EMA9=${current.ema9.toFixed(2)} > EMA21=${current.ema21.toFixed(2)}`;\n  } else if (previous.ema9 >= previous.ema21 && current.ema9 < current.ema21) {\n    crossover = 'DEATH_DOWN';\n    action = 'SELL_SIGNAL';\n    message = `Death Cross: EMA9=${current.ema9.toFixed(2)} < EMA21=${current.ema21.toFixed(2)}`;\n  }\n}\n\nreturn {\n  json: {\n    symbol,\n    current,\n    previous,\n    timestamp: $json.timestamp,\n    action,\n    crossover,\n    message,\n    close_price: current.close,\n    ema5: current.ema5,\n    ema8: current.ema8,\n    ema9: current.ema9,\n    ema13: current.ema13,\n    ema20: current.ema20,\n    ema21: current.ema21,\n    ema34: current.ema34,\n    ema50: current.ema50,\n    ema100: current.ema100,\n    ema200: current.ema200,\n    rsi14: current.rsi14,\n    volume: current.volume,\n    volume_ma20: current.volume_ma20\n  }\n};"
      },
      "id": "96461d92-7a69-47ba-b171-e2d21fc60094",
      "name": "Detect Crossover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5168,
        240
      ],
      "notes": "Обнаруживает золотой крест (EMA9 > EMA21) и смертельный крест"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO ema_snapshots (timestamp, symbol, close_price, ema5, ema8, ema9, ema13, ema20, ema21, ema34, ema50, ema100, ema200, rsi14, volume, volume_ma20, action, crossover, message)\nVALUES (\n  '{{ $json.timestamp }}',\n  '{{ $json.symbol }}',\n  {{ $json.close_price || 'NULL' }},\n  {{ $json.ema5 || 'NULL' }},\n  {{ $json.ema8 || 'NULL' }},\n  {{ $json.ema9 || 'NULL' }},\n  {{ $json.ema13 || 'NULL' }},\n  {{ $json.ema20 || 'NULL' }},\n  {{ $json.ema21 || 'NULL' }},\n  {{ $json.ema34 || 'NULL' }},\n  {{ $json.ema50 || 'NULL' }},\n  {{ $json.ema100 || 'NULL' }},\n  {{ $json.ema200 || 'NULL' }},\n  {{ $json.rsi14 || 'NULL' }},\n  {{ $json.volume || 'NULL' }},\n  {{ $json.volume_ma20 || 'NULL' }},\n  '{{ $json.action }}',\n  '{{ $json.crossover }}',\n  '{{ $json.message }}'\n);",
        "options": {}
      },
      "id": "ed9dd368-8b81-441d-bf44-2aa7f7e4788a",
      "name": "Save to ema_snapshots",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        5360,
        256
      ],
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      },
      "notes": "Записывает все EMA/RSI/Volume данные в БД"
    }
  ],
  "connections": {
    "Every 1 Minute (Market Hours)": {
      "main": [
        [
          {
            "node": "Get All OHLC Bars (Batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All OHLC Bars (Batch)": {
      "main": [
        [
          {
            "node": "Split Batch Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Batch Response": {
      "main": [
        [
          {
            "node": "For Each Symbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For Each Symbol": {
      "main": [
        [],
        [
          {
            "node": "Get Historical Prices from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Historical Prices from DB": {
      "main": [
        [
          {
            "node": "Calculate EMA/RSI/Volume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate EMA/RSI/Volume": {
      "main": [
        [
          {
            "node": "Detect Crossover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Crossover": {
      "main": [
        [
          {
            "node": "Save to ema_snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to ema_snapshots": {
      "main": [
        [
          {
            "node": "For Each Symbol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c5b1575ddd1ce97f568eb6f35b192523455a69713066ed09981997135e408e8"
  }
}