strategy_v1/workflows/sentiment-executor.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "2a9280d8-9c6f-40ad-9c41-6ab449e560b7",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        38336,
        4416
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9b91d2ac-9f9b-4f60-bc0f-5f7f3e2d69a0",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $now.setZone(\"Asia/Jerusalem\").weekday < 6 }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "4adccf35-1426-4513-8b9e-c3434f4df2a5",
      "name": "If Weekday (Mon-Fri)",
      "type": "n8n-nodes-base.if",
      "position": [
        38560,
        4416
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "https://paper-api.alpaca.markets/v2/account",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "bd580716-4753-434a-9185-928f24b36a6c",
      "name": "Alpaca-get-account-info",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        38784,
        4416
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO account_balance (date, balance, change)\nVALUES (\nCURRENT_DATE,\n{{ $json.equity }},\n{{ ($json.equity - $json.last_equity) / $json.last_equity }}\n)\nON CONFLICT (date) DO UPDATE SET\n  balance = EXCLUDED.balance,\n  change = EXCLUDED.change",
        "options": {}
      },
      "id": "8b15f3e0-e2dd-4c5c-8067-b0835cd1eb84",
      "name": "save_account_balance",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        39008,
        4416
      ],
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT MAX(balance) AS max_balance\nFROM account_balance\nWHERE date >= CURRENT_DATE - INTERVAL '30 days'",
        "options": {}
      },
      "id": "d4e6134f-748a-47a7-b702-f59c4790d84a",
      "name": "get_max_balance_30d",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        39232,
        4416
      ],
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const acct = $items('Alpaca-get-account-info')[0]?.json || {};\nconst equity = Number(acct.equity || acct.last_equity || 0);\nconst maxBal = Number($json.max_balance || 0);\n\nif (!equity || !maxBal) {\n  return { json: { skip_trading: false, drawdown: 0, equity, max_balance: maxBal } };\n}\n\nconst drawdown = (maxBal - equity) / maxBal;\nconst skip = drawdown >= 0.10;\n\nreturn { json: { skip_trading: skip, drawdown, equity, max_balance: maxBal } };"
      },
      "id": "173098db-fc47-4620-91f2-1d570a3a8cb5",
      "name": "check_drawdown_limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        39456,
        4416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "drawdown-limit",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.skip_trading === true }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "51de811d-8c2b-479e-858b-9d1ae42bb184",
      "name": "If_Drawdown_Exceeded",
      "type": "n8n-nodes-base.if",
      "position": [
        39680,
        4416
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "=⛔ *Trading Paused*\n\nReason: Drawdown limit exceeded (>=10%)\n\nEquity: ${{ Number($json.equity || 0).toFixed(2) }}\nMax (30d): ${{ Number($json.max_balance || 0).toFixed(2) }}\nDrawdown: {{ (Number($json.drawdown || 0) * 100).toFixed(2) }}%\n\n⏰ {{ $now.toFormat('HH:mm:ss') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "1bab9953-d38d-47f5-9653-3f860e43b043",
      "name": "Telegram_Drawdown_Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        39904,
        4320
      ],
      "webhookId": "281eaa8d-00f5-4935-bd26-329059cb367e",
      "credentials": {
        "telegramApi": {
          "id": "mY5qmXRCM1fJhjE0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ss.symbol AS stock,\n  ROUND(AVG(ss.sentiment_score), 4) AS \"sentimentScore\",\n  MAX(ss.rationale) FILTER (WHERE ss.date = CURRENT_DATE) AS rationale,\n  ts.active\nFROM sentiment_scores ss\nINNER JOIN tracked_symbols ts ON ss.symbol = ts.symbol\nWHERE ss.date >= CURRENT_DATE - INTERVAL '2 days'\n  AND ts.active = true\nGROUP BY ss.symbol, ts.active\nORDER BY AVG(ss.sentiment_score) DESC",
        "options": {}
      },
      "id": "a04f40f6-5363-437d-8c0d-b71448ace649",
      "name": "get_sentiment_scores",
      "type": "n8n-nodes-base.postgres",
      "position": [
        39904,
        4512
      ],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst today = $now.setZone('America/New_York').toISODate();\n\n// TODO: Fill actual dates (YYYY-MM-DD)\nconst fomcDates = [];\nconst earningsBySymbol = {};\n\nfunction isWithinWindow(targetDate) {\n  const t = new Date(targetDate);\n  const d = new Date(today);\n  const diffDays = Math.abs((t - d) / (1000 * 60 * 60 * 24));\n  return diffDays <= 1;\n}\n\nlet reason = null;\nfor (const d of fomcDates) {\n  if (isWithinWindow(d)) {\n    reason = `FOMC window around ${d}`;\n    break;\n  }\n}\n\nif (!reason) {\n  for (const item of items) {\n    const symbol = item.json.stock;\n    const dates = earningsBySymbol[symbol] || [];\n    const match = dates.find(isWithinWindow);\n    if (match) {\n      reason = `Earnings window for ${symbol} around ${match}`;\n      break;\n    }\n  }\n}\n\nif (reason) {\n  return [{ json: { skip_trading: true, reason } }];\n}\n\nreturn items;"
      },
      "id": "7e3d881e-e8af-41a4-bbc0-d5cefad2e892",
      "name": "Macro_Event_Gate",
      "type": "n8n-nodes-base.code",
      "position": [
        40128,
        4512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "skip-trading",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.skip_trading === true }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "42f3ac58-e90d-4fe7-92ca-ed4f196122c0",
      "name": "If_Skip_Trading",
      "type": "n8n-nodes-base.if",
      "position": [
        40352,
        4512
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "=⚠️ *Macro Event Filter*\n\nReason: {{ $json.reason }}\n\n⏰ {{ $now.toFormat('HH:mm:ss') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "31f97b9d-5adf-4f88-bc31-56a4e16a1a3f",
      "name": "Telegram_Macro_Filter_Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        40576,
        4512
      ],
      "webhookId": "e86a8fc0-341b-49b1-a7b5-90ab8b47950d",
      "credentials": {
        "telegramApi": {
          "id": "mY5qmXRCM1fJhjE0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH latest AS (\n  SELECT symbol, MAX(timestamp) AS ts\n  FROM ema_snapshots\n  GROUP BY symbol\n)\nSELECT e.symbol, e.close_price, e.ema9, e.ema21, e.ema200, e.rsi14, e.volume, e.volume_ma20\nFROM ema_snapshots e\nJOIN latest l ON e.symbol = l.symbol AND e.timestamp = l.ts",
        "options": {}
      },
      "id": "56054109-6a5e-4c26-9e80-976abf5c0f32",
      "name": "get_latest_ema",
      "type": "n8n-nodes-base.postgres",
      "position": [
        40576,
        4704
      ],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sentimentItems = $items('get_sentiment_scores');\nconst emaItems = $items('get_latest_ema');\n\nconst emaMap = new Map(emaItems.map(item => [item.json.symbol, item.json]));\n\nconst withEmaFilter = sentimentItems\n  .filter(item => {\n    const ema = emaMap.get(item.json.stock);\n    if (!ema) return false;\n    if (ema.close_price == null || ema.ema9 == null || ema.ema21 == null) return false;\n    if (ema.rsi14 == null || ema.volume == null || ema.volume_ma20 == null) return false;\n    const emaOk = Number(ema.ema9) > Number(ema.ema21);\n    const rsiOk = Number(ema.rsi14) < 70;\n    const volumeOk = Number(ema.volume) > Number(ema.volume_ma20);\n    return emaOk && rsiOk && volumeOk;\n  })\n  .map(item => ({\n    json: {\n      ...item.json,\n      ema: emaMap.get(item.json.stock),\n      ema_filter_applied: true\n    }\n  }));\n\nconst baseList = withEmaFilter.length > 0 ? withEmaFilter : sentimentItems;\nconst sortedItems = baseList.sort((a, b) => b.json.sentimentScore - a.json.sentimentScore);\n\nconst maxPerSector = 2;\nconst sectorCounts = new Map();\nconst topItems = [];\n\nfor (const item of sortedItems) {\n  const sector = item.json.sector || 'Unknown';\n  const count = sectorCounts.get(sector) || 0;\n  if (count >= maxPerSector) continue;\n  topItems.push(item);\n  sectorCounts.set(sector, count + 1);\n  if (topItems.length >= 4) break;\n}\n\nreturn topItems"
      },
      "id": "ac306ec5-64b7-4fbb-af85-7e8926c911ee",
      "name": "filter_top_sentiment_score",
      "type": "n8n-nodes-base.code",
      "position": [
        40800,
        4704
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://paper-api.alpaca.markets/v2/positions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "fd033827-596c-412e-9d16-612ea81094b3",
      "name": "Alpaca_get_open_positions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        41024,
        4704
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const openPositions = $('Alpaca_get_open_positions').all();\nconst topSentiment = $('filter_top_sentiment_score').all();\nconst account = $('Alpaca-get-account-info').first()?.json ?? {};\n\n// Отфильтровать пустые элементы (которые появляются при alwaysOutputData, когда позиций нет)\nconst validOpenPositions = openPositions.filter(pos => pos.json && pos.json.symbol);\n\nconst openPositionSymbols = validOpenPositions.map(pos => pos.json.symbol);\nconst topSentimentSymbols = topSentiment.map(sen => sen.json.stock);\n\nconst positionsNotInTopSentiment = validOpenPositions\n  .filter(pos => !topSentimentSymbols.includes(pos.json.symbol))\n  .map(pos => ({\n    symbol: pos.json.symbol,\n    market_value: pos.json.market_value,\n    qty: pos.json.qty,\n    asset_id: pos.json.asset_id\n  }));\n\nconst symbolsNotInOpenPositions = topSentiment\n  .filter(sen => !openPositionSymbols.includes(sen.json.stock))\n  .map(sen => ({\n    symbol: sen.json.stock,\n  }));\n\nconst totalMarketValue = positionsNotInTopSentiment.reduce((sum, pos) => sum + (parseFloat(pos.market_value) || 0), 0);\n\n// V2: если продавать нечего (портфель пустой или уже соответствует топ-4), используем свободные деньги для первой покупки\nconst availableCash = parseFloat(account.cash ?? account.buying_power ?? '0') || 0;\nconst equity = parseFloat(account.equity ?? account.last_equity ?? availableCash) || 0;\nconst totalBudget = totalMarketValue > 0 ? totalMarketValue : availableCash;\n\n// Risk management (Phase 4)\nconst stopLossPercent = 0.02; // 2% SL\nconst takeProfitPercent = 0.04; // 4% TP (2:1)\n\n// Fixed position size: $500 per symbol (min for expensive stocks like AAPL ~$280)\nconst valuePerSymbol = 500;\n\n// Old percentage-based logic (disabled):\n// const riskPercent = 0.01; // 1% risk per trade\n// const maxPositionPercent = 0.25; // cap 25% of equity\n// const riskDollars = equity * riskPercent;\n// const baseNotional = stopLossPercent > 0 ? (riskDollars / stopLossPercent) : 0;\n// const maxNotional = equity * maxPositionPercent;\n// const perSymbolBudget = symbolsNotInOpenPositions.length > 0\n//   ? totalBudget / symbolsNotInOpenPositions.length\n//   : 0;\n// const valuePerSymbol = Math.max(0, Math.min(baseNotional, maxNotional, perSymbolBudget));\n\nconst symbolsWithMarketValue = symbolsNotInOpenPositions.map(item => ({\n  ...item,\n  market_value_per_symbol: valuePerSymbol,\n  stop_loss_percent: stopLossPercent,\n  take_profit_percent: takeProfitPercent\n}));\n\nconst hasPositionsToOpen = symbolsWithMarketValue.length > 0 && valuePerSymbol > 0;\n\nreturn [\n  {\n    json: {\n      positions_not_in_top_sentiment: positionsNotInTopSentiment,\n      symbols_not_in_open_positions: symbolsWithMarketValue,\n      has_positions_to_close: positionsNotInTopSentiment.length > 0,\n      has_positions_to_open: hasPositionsToOpen\n    }\n  }\n];"
      },
      "id": "9924772e-063d-40b1-bb31-16b639f7495e",
      "name": "create_positions_to_close_and_positions_two_open",
      "type": "n8n-nodes-base.code",
      "position": [
        41248,
        4704
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fa58c3b2-1da8-4bd2-97a2-b0e2c8e5d4fd",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_positions_to_close }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "caa6bc5c-9645-48fa-a19c-bf1aad6f45ba",
      "name": "check_has_positions_to_close",
      "type": "n8n-nodes-base.if",
      "position": [
        41696,
        4416
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3d8bfa6e-524b-4b3b-92f1-2e20dd2f5d71",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_positions_to_open }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "af65d43e-4bce-40f0-a3ff-8c2f25be3bf9",
      "name": "check_has_positions_to_open",
      "type": "n8n-nodes-base.if",
      "position": [
        41472,
        4608
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "positions_not_in_top_sentiment",
        "options": {}
      },
      "id": "c3813948-7923-4770-82de-50f6e46ca6c0",
      "name": "positions_to_close",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        41920,
        4416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://paper-api.alpaca.markets/v2/orders?symbols={{ $('positions_to_close').item.json.symbol }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "9b91faa2-f270-49e3-a640-f3c33ecc34c7",
      "name": "Cancel_Orders_Before_Sell",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        42368,
        4416
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "642ca856-e6f0-4097-a495-2b9a26d047ad",
      "name": "Wait_Before_Close",
      "type": "n8n-nodes-base.wait",
      "position": [
        42592,
        4416
      ],
      "webhookId": "wait-before-close-webhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://paper-api.alpaca.markets/v2/positions/{{ $('positions_to_close').item.json.symbol }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "490e820c-1e20-4579-b08e-422bed9c4205",
      "name": "Alpaca-post-order-sell",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        42816,
        4416
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "symbols_not_in_open_positions",
        "options": {}
      },
      "id": "b6b897e2-5496-4925-bb88-813dadd2c2bb",
      "name": "positions_to_open",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        41696,
        4608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "be8f4ba4-22bd-42cc-83f4-335e9be9eafe",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        42144,
        4608
      ],
      "webhookId": "3d1031f5-7a20-4c3a-8791-748e93830402",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://data.alpaca.markets/v2/stocks/{{ $('positions_to_open').item.json.symbol }}/trades/latest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "43d8ec04-cb9b-4af9-aa26-ccad3c4c19f7",
      "name": "Alpaca_Get_Latest_Trade",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        42368,
        4608
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const symbol = $('positions_to_open').item.json.symbol;\nconst notional = Number($('positions_to_open').item.json.market_value_per_symbol || 0);\nconst stopLossPercent = Number($('positions_to_open').item.json.stop_loss_percent || 0.02);\nconst takeProfitPercent = Number($('positions_to_open').item.json.take_profit_percent || 0.04);\n\nconst price = Number($json.trade?.p || $json.last?.p || $json.p || 0);\nif (!price || !notional) {\n  return { json: { symbol, qty: 0, notional, price, stop_price: null, take_profit: null, skip: true } };\n}\n\n// Bracket orders require whole shares (integer qty)\nconst qty = Math.floor(notional / price);\n\n// Skip if qty=0 (notional too small for this price)\nif (qty === 0) {\n  return { json: { symbol, qty: 0, notional, price, stop_price: null, take_profit: null, skip: true } };\n}\nconst actualNotional = qty * price;\nconst stop_price = Number((price * (1 - stopLossPercent)).toFixed(2));\nconst take_profit = Number((price * (1 + takeProfitPercent)).toFixed(2));\n\nreturn {\n  json: {\n    symbol,\n    qty,\n    notional: actualNotional,\n    price,\n    stop_price,\n    take_profit\n  }\n};"
      },
      "id": "2951f998-b3d1-4eda-b972-d5cce0b257c0",
      "name": "Build_Bracket_Order",
      "type": "n8n-nodes-base.code",
      "position": [
        42592,
        4608
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-valid-orders",
              "leftValue": "={{ $json.skip !== true && $json.qty > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid-buy-orders-123",
      "name": "Filter_Valid_Orders",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        42704,
        4608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "qty",
              "value": "={{ $json.qty }}"
            },
            {
              "name": "side",
              "value": "buy"
            },
            {
              "name": "type",
              "value": "market"
            },
            {
              "name": "order_class",
              "value": "bracket"
            },
            {
              "name": "take_profit.limit_price",
              "value": "={{ $json.take_profit }}"
            },
            {
              "name": "stop_loss.stop_price",
              "value": "={{ $json.stop_price }}"
            },
            {
              "name": "time_in_force",
              "value": "day"
            }
          ]
        },
        "options": {}
      },
      "id": "9d24a5a7-4e33-4465-b509-f623a6a68351",
      "name": "Alpaca-post-order-buy",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        42816,
        4608
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "=🔴 *SELL ORDER* 🔴\n\n📊 Symbol: `{{ $('positions_to_close').item.json.symbol }}`\n💵 Value: ${{ Number($('positions_to_close').item.json.market_value).toFixed(2) }}\n📉 Reason: Not in top-4 sentiment\n\n⏰ {{ $now.toFormat('HH:mm:ss') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "95661964-f055-4df2-8668-b5f9abcd0f9a",
      "name": "Telegram_Sell_Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        42144,
        4416
      ],
      "webhookId": "234bf463-d8df-45db-99dd-ef4f055e4811",
      "credentials": {
        "telegramApi": {
          "id": "mY5qmXRCM1fJhjE0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "=🟢 *BUY ORDER* 🟢\n\n📊 Symbol: `{{ $('positions_to_open').item.json.symbol }}`\n💵 Value: ${{ Number($('positions_to_open').item.json.market_value_per_symbol).toFixed(2) }}\n📈 Reason: Top-4 sentiment\n\n⏰ {{ $now.toFormat('HH:mm:ss') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "8fc20ae3-fe19-411d-b235-5a5614e88a51",
      "name": "Telegram_Buy_Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        41920,
        4608
      ],
      "webhookId": "069fdb3a-386e-40f8-a853-c4b29657968c",
      "credentials": {
        "telegramApi": {
          "id": "mY5qmXRCM1fJhjE0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "29585024-d096-4997-94c5-f33a481fc976",
      "name": "merge_orders_to_write_to_sheets",
      "type": "n8n-nodes-base.merge",
      "position": [
        43040,
        4512
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO positions (date, symbol, order_type, value)\nVALUES (\n  CURRENT_DATE,\n  '{{ $json.symbol }}',\n  '{{ $json.side }}',\n  {{ $json.side == 'buy' ? (Number($json.qty || 0) * Number($json.filled_avg_price || $json.limit_price || 0)) : Number($('positions_to_close').item.json.market_value || 0) }}\n)",
        "options": {}
      },
      "id": "664b36a2-f4c3-4991-b6b7-5a7a832368bc",
      "name": "save_positions_to_db",
      "type": "n8n-nodes-base.postgres",
      "position": [
        43264,
        4512
      ],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://paper-api.alpaca.markets/v2/account",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "4d63b23e-cc0e-4812-b6f8-18079cf88458",
      "name": "Get_Portfolio_Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        43488,
        4704
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "=📊 *PORTFOLIO SUMMARY* 📊\n\n💰 Total Value: ${{ Number($json.equity).toFixed(2) }}\n📈 Daily P/L: ${{ Number($json.equity - $json.last_equity).toFixed(2) }} ({{ (($json.equity - $json.last_equity) / $json.last_equity * 100).toFixed(2) }}%)\n💵 Cash: ${{ Number($json.cash).toFixed(2) }}\n📦 Buying Power: ${{ Number($json.buying_power).toFixed(2) }}\n\n⏰ {{ $now.toFormat('HH:mm:ss') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "8a90e259-5cce-4255-a4f4-3213ea3a68bd",
      "name": "Telegram_Portfolio_Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        43712,
        4704
      ],
      "webhookId": "feeb3c0b-cac3-4e9f-a484-4bda020ddc05",
      "credentials": {
        "telegramApi": {
          "id": "mY5qmXRCM1fJhjE0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## V2 Changes ✅\n- Weekend guard: runs only Mon-Fri (Asia/Jerusalem)\n- First buy supported: if no sells, uses Alpaca account cash/buying_power to allocate buys\n- Prevents buy orders with 0 notional\n\nNote: sell uses DELETE /v2/positions/{symbol} (full close).",
        "height": 420,
        "width": 560,
        "color": 2
      },
      "id": "ade096ef-d82c-42d6-8af7-6d8d6fc57d99",
      "name": "Sticky Note - V2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        38448,
        4176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "no-trades-check-1",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_positions_to_close }}",
              "rightValue": false
            },
            {
              "id": "no-trades-check-2",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_positions_to_open }}",
              "rightValue": false
            }
          ]
        },
        "options": {}
      },
      "id": "c9b5c47a-6d80-4609-b7ad-965dd9bdb68f",
      "name": "Check_No_Trades",
      "type": "n8n-nodes-base.if",
      "position": [
        43264,
        4784
      ],
      "typeVersion": 2.2,
      "notes": "Проверяет, что нет ни покупок, ни продаж -> отправляет summary напрямую"
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "Error",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "91bc00e8-0fdd-41ea-9c65-c06a7f776317",
      "name": "Telegram Error Notifier",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        43840,
        4976
      ],
      "webhookId": "feeb3c0b-cac3-4e9f-a484-4bda020ddc05",
      "credentials": {
        "telegramApi": {
          "id": "mY5qmXRCM1fJhjE0",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If Weekday (Mon-Fri)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Weekday (Mon-Fri)": {
      "main": [
        [
          {
            "node": "Alpaca-get-account-info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca-get-account-info": {
      "main": [
        [
          {
            "node": "save_account_balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_account_balance": {
      "main": [
        [
          {
            "node": "get_max_balance_30d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_max_balance_30d": {
      "main": [
        [
          {
            "node": "check_drawdown_limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_drawdown_limit": {
      "main": [
        [
          {
            "node": "If_Drawdown_Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Drawdown_Exceeded": {
      "main": [
        [
          {
            "node": "Telegram_Drawdown_Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_sentiment_scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_sentiment_scores": {
      "main": [
        [
          {
            "node": "Macro_Event_Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macro_Event_Gate": {
      "main": [
        [
          {
            "node": "If_Skip_Trading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Skip_Trading": {
      "main": [
        [
          {
            "node": "Telegram_Macro_Filter_Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_latest_ema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_latest_ema": {
      "main": [
        [
          {
            "node": "filter_top_sentiment_score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_top_sentiment_score": {
      "main": [
        [
          {
            "node": "Alpaca_get_open_positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca_get_open_positions": {
      "main": [
        [
          {
            "node": "create_positions_to_close_and_positions_two_open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_positions_to_close_and_positions_two_open": {
      "main": [
        [
          {
            "node": "check_has_positions_to_close",
            "type": "main",
            "index": 0
          },
          {
            "node": "check_has_positions_to_open",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check_No_Trades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_has_positions_to_close": {
      "main": [
        [
          {
            "node": "positions_to_close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_has_positions_to_open": {
      "main": [
        [
          {
            "node": "positions_to_open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "positions_to_close": {
      "main": [
        [
          {
            "node": "Telegram_Sell_Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel_Orders_Before_Sell": {
      "main": [
        [
          {
            "node": "Wait_Before_Close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait_Before_Close": {
      "main": [
        [
          {
            "node": "Alpaca-post-order-sell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca-post-order-sell": {
      "main": [
        [
          {
            "node": "merge_orders_to_write_to_sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Error Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "positions_to_open": {
      "main": [
        [
          {
            "node": "Telegram_Buy_Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Alpaca_Get_Latest_Trade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca_Get_Latest_Trade": {
      "main": [
        [
          {
            "node": "Build_Bracket_Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Bracket_Order": {
      "main": [
        [
          {
            "node": "Filter_Valid_Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_Valid_Orders": {
      "main": [
        [
          {
            "node": "Alpaca-post-order-buy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca-post-order-buy": {
      "main": [
        [
          {
            "node": "merge_orders_to_write_to_sheets",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Telegram Error Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram_Sell_Alert": {
      "main": [
        [
          {
            "node": "Cancel_Orders_Before_Sell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram_Buy_Alert": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_orders_to_write_to_sheets": {
      "main": [
        [
          {
            "node": "save_positions_to_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_positions_to_db": {
      "main": [
        [
          {
            "node": "Get_Portfolio_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Portfolio_Summary": {
      "main": [
        [
          {
            "node": "Telegram_Portfolio_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_No_Trades": {
      "main": [
        [
          {
            "node": "Get_Portfolio_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c5b1575ddd1ce97f568eb6f35b192523455a69713066ed09981997135e408e8"
  }
}