n8n/workflows/ema-crossover-bot.json
{
  "name": "EMA Crossover Trading Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "trigger",
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://data.alpaca.markets/v2/stocks/{{ $json.symbol || 'NVDA' }}/bars",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "timeframe", "value": "1Hour" },
            { "name": "limit", "value": "50" },
            { "name": "adjustment", "value": "split" }
          ]
        },
        "options": {}
      },
      "id": "get-bars",
      "name": "Get OHLC Bars",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "alpaca-api",
          "name": "Alpaca API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === EMA CALCULATION ===\nconst config = {\n  symbol: 'NVDA',\n  emaShort: 5,\n  emaLong: 20,\n  confirmationPercent: 0.75\n};\n\nconst barsData = $input.first().json;\nconst bars = barsData.bars || [];\n\nif (bars.length < config.emaLong + 1) {\n  throw new Error(`Need at least ${config.emaLong + 1} bars, got ${bars.length}`);\n}\n\n// Calculate EMA\nfunction calculateEMA(prices, period) {\n  const ema = [];\n  const multiplier = 2 / (period + 1);\n  \n  let sum = 0;\n  for (let i = 0; i < period; i++) sum += prices[i];\n  ema[period - 1] = sum / period;\n  \n  for (let i = period; i < prices.length; i++) {\n    ema[i] = (prices[i] - ema[i - 1]) * multiplier + ema[i - 1];\n  }\n  return ema;\n}\n\nconst closes = bars.map(b => parseFloat(b.c));\nconst ema5 = calculateEMA(closes, config.emaShort);\nconst ema20 = calculateEMA(closes, config.emaLong);\n\nconst last = closes.length - 1;\nconst prev = closes.length - 2;\n\nreturn {\n  json: {\n    config,\n    current: {\n      ema5: ema5[last],\n      ema20: ema20[last],\n      close: closes[last],\n      timestamp: bars[last].t\n    },\n    previous: {\n      ema5: ema5[prev],\n      ema20: ema20[prev],\n      close: closes[prev]\n    },\n    lastBar: bars[last]\n  }\n};"
      },
      "id": "calc-ema",
      "name": "Calculate EMA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "// === SIGNAL DETECTION ===\nconst input = $input.first().json;\nconst { current, previous, config } = input;\n\n// Get state from static data\nconst state = $getWorkflowStaticData('global');\nif (!state.status) {\n  state.status = 'flat';\n  state.crossoverPrice = null;\n  state.crossoverTime = null;\n  state.entryPrice = null;\n}\n\n// Detect crossover\nfunction detectCrossover(curr, prev) {\n  if (prev.ema5 <= prev.ema20 && curr.ema5 > curr.ema20) return 'bullish';\n  if (prev.ema5 >= prev.ema20 && curr.ema5 < curr.ema20) return 'bearish';\n  return 'none';\n}\n\nconst crossover = detectCrossover(current, previous);\nconst currentPrice = current.close;\n\nlet action = 'hold';\nlet message = '';\n\nswitch (state.status) {\n  case 'flat':\n    if (crossover === 'bullish') {\n      state.status = 'waiting_confirmation';\n      state.crossoverPrice = current.close;\n      state.crossoverTime = current.timestamp;\n      action = 'signal_detected';\n      message = `Bullish crossover at ${current.close.toFixed(2)}. Waiting +${config.confirmationPercent}%`;\n    }\n    break;\n    \n  case 'waiting_confirmation':\n    const target = state.crossoverPrice * (1 + config.confirmationPercent / 100);\n    if (crossover === 'bearish') {\n      state.status = 'flat';\n      state.crossoverPrice = null;\n      action = 'signal_cancelled';\n      message = 'Bearish crossover - signal cancelled';\n    } else if (currentPrice >= target) {\n      state.status = 'in_position';\n      state.entryPrice = currentPrice;\n      action = 'buy';\n      message = `Confirmed! BUY at ${currentPrice.toFixed(2)}`;\n    } else {\n      message = `Waiting: ${currentPrice.toFixed(2)} / ${target.toFixed(2)}`;\n    }\n    break;\n    \n  case 'in_position':\n    if (crossover === 'bearish') {\n      const pnl = ((currentPrice - state.entryPrice) / state.entryPrice * 100).toFixed(2);\n      action = 'sell';\n      message = `Bearish crossover - SELL at ${currentPrice.toFixed(2)}. P/L: ${pnl}%`;\n      state.status = 'flat';\n      state.entryPrice = null;\n    }\n    break;\n}\n\nreturn {\n  json: {\n    action,\n    message,\n    crossover,\n    state: { ...state },\n    ema5: current.ema5,\n    ema20: current.ema20,\n    currentPrice,\n    symbol: config.symbol,\n    timestamp: current.timestamp\n  }\n};"
      },
      "id": "detect-signal",
      "name": "Detect Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "buy-condition",
              "leftValue": "={{ $json.action }}",
              "rightValue": "buy",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-buy",
      "name": "If Buy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "sell-condition",
              "leftValue": "={{ $json.action }}",
              "rightValue": "sell",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-sell",
      "name": "If Sell",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"symbol\": \"{{ $json.symbol }}\",\n  \"qty\": \"10\",\n  \"side\": \"buy\",\n  \"type\": \"market\",\n  \"time_in_force\": \"day\"\n}",
        "options": {}
      },
      "id": "place-buy-order",
      "name": "Place Buy Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "alpaca-api",
          "name": "Alpaca API"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://paper-api.alpaca.markets/v2/positions/{{ $json.symbol }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "close-position",
      "name": "Close Position",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "alpaca-api",
          "name": "Alpaca API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=🤖 *Trading Bot Alert*\n\n{{ $json.message }}\n\nSymbol: `{{ $json.symbol }}`\nEMA5: `{{ $json.ema5.toFixed(2) }}`\nEMA20: `{{ $json.ema20.toFixed(2) }}`\nPrice: `{{ $json.currentPrice.toFixed(2) }}`",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO trades (timestamp, symbol, action, price, ema5, ema20, crossover, message, pnl_percent) VALUES ('{{ $json.timestamp }}', '{{ $json.symbol }}', '{{ $json.action }}', {{ $json.currentPrice }}, {{ $json.ema5 }}, {{ $json.ema20 }}, '{{ $json.crossover }}', '{{ $json.message }}', {{ $json.pnlPercent || 'NULL' }})",
        "options": {}
      },
      "id": "log-to-postgres",
      "name": "Log to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1320, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-trading",
          "name": "PostgreSQL Trading"
        }
      }
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [[{ "node": "Get OHLC Bars", "type": "main", "index": 0 }]]
    },
    "Get OHLC Bars": {
      "main": [[{ "node": "Calculate EMA", "type": "main", "index": 0 }]]
    },
    "Calculate EMA": {
      "main": [[{ "node": "Detect Signal", "type": "main", "index": 0 }]]
    },
    "Detect Signal": {
      "main": [
        [
          { "node": "If Buy", "type": "main", "index": 0 },
          { "node": "If Sell", "type": "main", "index": 0 }
        ]
      ]
    },
    "If Buy": {
      "main": [
        [{ "node": "Place Buy Order", "type": "main", "index": 0 }],
        []
      ]
    },
    "If Sell": {
      "main": [
        [{ "node": "Close Position", "type": "main", "index": 0 }],
        []
      ]
    },
    "Place Buy Order": {
      "main": [[
        { "node": "Telegram Alert", "type": "main", "index": 0 },
        { "node": "Log to PostgreSQL", "type": "main", "index": 0 }
      ]]
    },
    "Close Position": {
      "main": [[
        { "node": "Telegram Alert", "type": "main", "index": 0 },
        { "node": "Log to PostgreSQL", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
