.docs/alpaca-n8n-V2-weekend-cash.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "76714f77-4176-497c-a692-c357ad37db39",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1552,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9b91d2ac-9f9b-4f60-bc0f-5f7f3e2d69a0",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $now.setZone(\"Asia/Jerusalem\").weekday < 6 }}",
              "rightValue": "=true"
            }
          ]
        },
        "options": {}
      },
      "id": "f35b0f5f-1d1c-4a52-9b72-0fa9f1a1f3a1",
      "name": "If Weekday (Mon-Fri)",
      "type": "n8n-nodes-base.if",
      "position": [
        -1440,
        240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "https://paper-api.alpaca.markets/v2/account",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "02173f2c-d1b0-4c3a-bb7d-693882e0588a",
      "name": "Alpaca-get-account-info",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1328,
        240
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "9QJ6HFd2VND4G0I4",
          "name": "Auth Alpaca API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1rVSOkHj4j1RlnDqOjrgEPO8hpWwKRD2TbOhVlbKt0JI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVSOkHj4j1RlnDqOjrgEPO8hpWwKRD2TbOhVlbKt0JI/edit?usp=drivesdk",
          "cachedResultName": "Stock Sentiment Last (own)"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 449152551,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVSOkHj4j1RlnDqOjrgEPO8hpWwKRD2TbOhVlbKt0JI/edit#gid=449152551",
          "cachedResultName": "balance"
        },
        "columns": {
          "value": {
            "date": "={{$today}}\n",
            "change": "={{($json.equity- $json.last_equity)/ $json.last_equity}}",
            "balance": "={{ $json.equity }}"
          },
          "schema": [
            {
              "id": "date",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "balance",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "balance",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "change",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "change",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "date"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "fe96bd67-f70c-4fc2-b082-86f166f6a4dd",
      "name": "write_account_balace_today",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1120,
        240
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VNauouLzhafodsVJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1rVSOkHj4j1RlnDqOjrgEPO8hpWwKRD2TbOhVlbKt0JI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVSOkHj4j1RlnDqOjrgEPO8hpWwKRD2TbOhVlbKt0JI/edit?usp=drivesdk",
          "cachedResultName": "Stock Sentiment Last (own)"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVSOkHj4j1RlnDqOjrgEPO8hpWwKRD2TbOhVlbKt0JI/edit#gid=0",
          "cachedResultName": "sentiments"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "date",
              "lookupValue": "={{$today}}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "3306c3e3-cee1-4465-8cd3-376d2ed03486",
      "name": "read_sentiments_score_today",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -896,
        240
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VNauouLzhafodsVJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sortedItems = $input.all().sort((a, b) => b.json.sentimentScore - a.json.sentimentScore);\nconst top4Items = sortedItems.slice(0, 4);\nreturn top4Items"
      },
      "id": "a957626c-8813-4d13-8f66-c230b9cb10db",
      "name": "filter_top_sentiment_score",
      "type": "n8n-nodes-base.code",
      "position": [
        -672,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://paper-api.alpaca.markets/v2/positions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "d7364ba3-4572-4478-a20f-d462ad8f28f9",
      "name": "Alpaca_get_open_positions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -448,
        240
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "9QJ6HFd2VND4G0I4",
          "name": "Auth Alpaca API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const openPositions = $('Alpaca_get_open_positions').all();\nconst topSentiment = $('filter_top_sentiment_score').all();\nconst account = $('Alpaca-get-account-info').first()?.json ?? {};\n\nconst openPositionSymbols = openPositions.map(pos => pos.json.symbol);\nconst topSentimentSymbols = topSentiment.map(sen => sen.json.stock);\n\nconst positionsNotInTopSentiment = openPositions\n  .filter(pos => !topSentimentSymbols.includes(pos.json.symbol))\n  .map(pos => ({\n    symbol: pos.json.symbol,\n    market_value: pos.json.market_value,\n    qty: pos.json.qty,\n    asset_id: pos.json.asset_id\n  }));\n\nconst symbolsNotInOpenPositions = topSentiment\n  .filter(sen => !openPositionSymbols.includes(sen.json.stock))\n  .map(sen => ({\n    symbol: sen.json.stock,\n  }));\n\nconst totalMarketValue = positionsNotInTopSentiment.reduce((sum, pos) => sum + (parseFloat(pos.market_value) || 0), 0);\n\n// V2: если продавать нечего (портфель пустой или уже соответствует топ-4), используем свободные деньги для первой покупки\nconst availableCash = parseFloat(account.cash ?? account.buying_power ?? '0') || 0;\nconst totalBudget = totalMarketValue > 0 ? totalMarketValue : availableCash;\n\nconst valuePerSymbol = symbolsNotInOpenPositions.length > 0\n  ? totalBudget / symbolsNotInOpenPositions.length\n  : 0;\n\nconst symbolsWithMarketValue = symbolsNotInOpenPositions.map(item => ({\n  ...item,\n  market_value_per_symbol: valuePerSymbol,\n}));\n\nconst hasPositionsToOpen = symbolsWithMarketValue.length > 0 && valuePerSymbol > 0;\n\nreturn [\n  {\n    json: {\n      positions_not_in_top_sentiment: positionsNotInTopSentiment,\n      symbols_not_in_open_positions: symbolsWithMarketValue,\n      has_positions_to_close: positionsNotInTopSentiment.length > 0,\n      has_positions_to_open: hasPositionsToOpen\n    }\n  }\n];"
      },
      "id": "0c1e588a-d9a6-471d-a069-26e744a530a1",
      "name": "create_positions_to_close_and_positions_two_open",
      "type": "n8n-nodes-base.code",
      "position": [
        -240,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fa58c3b2-1da8-4bd2-97a2-b0e2c8e5d4fd",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_positions_to_close }}",
              "rightValue": "=true"
            }
          ]
        },
        "options": {}
      },
      "id": "3c1c5e18-63c6-4f68-9d8e-9d1f742e3c1d",
      "name": "check_has_positions_to_close",
      "type": "n8n-nodes-base.if",
      "position": [
        -16,
        144
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3d8bfa6e-524b-4b3b-92f1-2e20dd2f5d71",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_positions_to_open }}",
              "rightValue": "=true"
            }
          ]
        },
        "options": {}
      },
      "id": "f4b44c19-5b0b-48a8-9f2f-cb4620d5c779",
      "name": "check_has_positions_to_open",
      "type": "n8n-nodes-base.if",
      "position": [
        -16,
        352
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "positions_not_in_top_sentiment",
        "options": {}
      },
      "id": "a4d08ce9-72d7-46c8-bcd6-71c2d5572996",
      "name": "positions_to_close",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        208,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://paper-api.alpaca.markets/v2/positions/{{$json.symbol}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "c808878d-7336-49d4-903c-69e6650253a3",
      "name": "Alpaca-post-order-sell",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        432,
        144
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "9QJ6HFd2VND4G0I4",
          "name": "Auth Alpaca API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "symbols_not_in_open_positions",
        "options": {}
      },
      "id": "a8ffdcfb-37ff-4c2d-a24b-ff583b2efa31",
      "name": "positions_to_open",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        208,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "919652d6-bc03-4b5f-b8ff-fece685b8ca7",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        432,
        352
      ],
      "webhookId": "3d1031f5-7a20-4c3a-8791-748e93830402",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "notional",
              "value": "={{ $json.market_value_per_symbol.toFixed(2) }}"
            },
            {
              "name": "side",
              "value": "buy"
            },
            {
              "name": "type",
              "value": "market"
            },
            {
              "name": "time_in_force",
              "value": "day"
            }
          ]
        },
        "options": {}
      },
      "id": "b71d8e45-b9ab-4ee9-995b-b963c455c56c",
      "name": "Alpaca-post-order-buy",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        656,
        352
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "9QJ6HFd2VND4G0I4",
          "name": "Auth Alpaca API"
        }
      }
    },
    {
      "parameters": {},
      "id": "0b23f66c-8f61-4467-9ddb-7cccf2ac3209",
      "name": "merge_orders_to_write_to_sheets",
      "type": "n8n-nodes-base.merge",
      "position": [
        880,
        240
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1rVSOkHj4j1RlnDqOjrgEPO8hpWwKRD2TbOhVlbKt0JI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVSOkHj4j1RlnDqOjrgEPO8hpWwKRD2TbOhVlbKt0JI/edit?usp=drivesdk",
          "cachedResultName": "Stock Sentiment Last (own)"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 486231870,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVSOkHj4j1RlnDqOjrgEPO8hpWwKRD2TbOhVlbKt0JI/edit#gid=486231870",
          "cachedResultName": "positions"
        },
        "columns": {
          "value": {
            "date": "={{ $today }}",
            "order": "={{ $json.side }}",
            "value": "={{ $if( $json.side == \"buy\",$json.notional,$('positions_to_close').item.json.market_value) }}",
            "symbol": "={{ $json.symbol }}"
          },
          "schema": [
            {
              "id": "date",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "symbol",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "symbol",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "order",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "order",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "value",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "value",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "date"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ee119fcf-e7ea-4084-95dc-323a2e277f05",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1104,
        240
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VNauouLzhafodsVJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## V2 Changes ✅\n- Weekend guard: runs only Mon-Fri (Asia/Jerusalem)\n- First buy supported: if no sells, uses Alpaca account cash/buying_power to allocate buys\n- Prevents buy orders with 0 notional\n\nNote: sell uses DELETE /v2/positions/{symbol} (full close).",
        "height": 420,
        "width": 560,
        "color": 2
      },
      "id": "f8c82f46-27e8-4c90-9b8f-5f067c3b0d1e",
      "name": "Sticky Note - V2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        -128
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If Weekday (Mon-Fri)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Weekday (Mon-Fri)": {
      "main": [
        [
          {
            "node": "Alpaca-get-account-info",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Alpaca-get-account-info": {
      "main": [
        [
          {
            "node": "write_account_balace_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write_account_balace_today": {
      "main": [
        [
          {
            "node": "read_sentiments_score_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read_sentiments_score_today": {
      "main": [
        [
          {
            "node": "filter_top_sentiment_score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_top_sentiment_score": {
      "main": [
        [
          {
            "node": "Alpaca_get_open_positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca_get_open_positions": {
      "main": [
        [
          {
            "node": "create_positions_to_close_and_positions_two_open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_positions_to_close_and_positions_two_open": {
      "main": [
        [
          {
            "node": "check_has_positions_to_close",
            "type": "main",
            "index": 0
          },
          {
            "node": "check_has_positions_to_open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_has_positions_to_close": {
      "main": [
        [
          {
            "node": "positions_to_close",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "positions_to_close": {
      "main": [
        [
          {
            "node": "Alpaca-post-order-sell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca-post-order-sell": {
      "main": [
        [
          {
            "node": "merge_orders_to_write_to_sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_has_positions_to_open": {
      "main": [
        [
          {
            "node": "positions_to_open",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "positions_to_open": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Alpaca-post-order-buy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca-post-order-buy": {
      "main": [
        [
          {
            "node": "merge_orders_to_write_to_sheets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge_orders_to_write_to_sheets": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "761f1737ead169f86632b637ef0da6362172a07a6a3e5de45f80125c04107994"
  }
}
