strategy_v1/workflows/archive_feb2026/sentiment-executor.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "20a93d41-386d-42a2-baf8-78f966f30b3f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -112,
        368
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9b91d2ac-9f9b-4f60-bc0f-5f7f3e2d69a0",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $now.setZone(\"Asia/Jerusalem\").weekday < 6 }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "fd63dc52-12c6-4e0d-8872-f89b684b3e0a",
      "name": "If Weekday (Mon-Fri)",
      "type": "n8n-nodes-base.if",
      "position": [
        112,
        368
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "https://paper-api.alpaca.markets/v2/account",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "b2908136-c72a-4c04-8e41-9fbc105e81d5",
      "name": "Alpaca-get-account-info",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        336,
        368
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO account_balance (date, balance, change)\nVALUES (\nCURRENT_DATE,\n{{ $json.equity }},\n{{ ($json.equity - $json.last_equity) / $json.last_equity }}\n)\nON CONFLICT (date) DO UPDATE SET\n  balance = EXCLUDED.balance,\n  change = EXCLUDED.change",
        "options": {}
      },
      "id": "55b11621-0bd0-408f-9415-89b0ff42ddaf",
      "name": "save_account_balance",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        560,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT MAX(balance) AS max_balance\nFROM account_balance\nWHERE date >= CURRENT_DATE - INTERVAL '30 days'",
        "options": {}
      },
      "id": "1d2e3f40-5a6b-7c8d-9e0f-1a2b3c4d5e6f",
      "name": "get_max_balance_30d",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        672,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const acct = $items('Alpaca-get-account-info')[0]?.json || {};\nconst equity = Number(acct.equity || acct.last_equity || 0);\nconst maxBal = Number($json.max_balance || 0);\n\nif (!equity || !maxBal) {\n  return { json: { skip_trading: false, drawdown: 0, equity, max_balance: maxBal } };\n}\n\nconst drawdown = (maxBal - equity) / maxBal;\nconst skip = drawdown >= 0.10;\n\nreturn { json: { skip_trading: skip, drawdown, equity, max_balance: maxBal } };"
      },
      "id": "2f3a4b5c-6d7e-8f90-a1b2-c3d4e5f60718",
      "name": "check_drawdown_limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "drawdown-limit",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.skip_trading === true }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "3a4b5c6d-7e8f-901a-b2c3-d4e5f6071829",
      "name": "If_Drawdown_Exceeded",
      "type": "n8n-nodes-base.if",
      "position": [
        896,
        368
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "=⛔ *Trading Paused*\n\nReason: Drawdown limit exceeded (>=10%)\n\nEquity: ${{ Number($json.equity || 0).toFixed(2) }}\nMax (30d): ${{ Number($json.max_balance || 0).toFixed(2) }}\nDrawdown: {{ (Number($json.drawdown || 0) * 100).toFixed(2) }}%\n\n⏰ {{ $now.toFormat('HH:mm:ss') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "4b5c6d7e-8f90-1a2b-3c4d-5e6f708192a3",
      "name": "Telegram_Drawdown_Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        272
      ],
      "credentials": {
        "telegramApi": {
          "id": "NeCkDlU3OGIVsHG0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  ss.symbol AS stock,\n  ROUND(AVG(ss.sentiment_score), 4) AS \"sentimentScore\",\n  MAX(ss.rationale) FILTER (WHERE ss.date = CURRENT_DATE) AS rationale,\n  ts.active\nFROM sentiment_scores ss\nINNER JOIN tracked_symbols ts ON ss.symbol = ts.symbol\nWHERE ss.date >= CURRENT_DATE - INTERVAL '2 days'\n  AND ts.active = true\nGROUP BY ss.symbol, ts.active\nORDER BY AVG(ss.sentiment_score) DESC",
        "options": {}
      },
      "id": "69b362c2-649d-4f13-912a-c2413f980548",
      "name": "get_sentiment_scores",
      "type": "n8n-nodes-base.postgres",
      "position": [
        784,
        368
      ],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst today = $now.setZone('America/New_York').toISODate();\n\n// TODO: Fill actual dates (YYYY-MM-DD)\nconst fomcDates = [];\nconst earningsBySymbol = {};\n\nfunction isWithinWindow(targetDate) {\n  const t = new Date(targetDate);\n  const d = new Date(today);\n  const diffDays = Math.abs((t - d) / (1000 * 60 * 60 * 24));\n  return diffDays <= 1;\n}\n\nlet reason = null;\nfor (const d of fomcDates) {\n  if (isWithinWindow(d)) {\n    reason = `FOMC window around ${d}`;\n    break;\n  }\n}\n\nif (!reason) {\n  for (const item of items) {\n    const symbol = item.json.stock;\n    const dates = earningsBySymbol[symbol] || [];\n    const match = dates.find(isWithinWindow);\n    if (match) {\n      reason = `Earnings window for ${symbol} around ${match}`;\n      break;\n    }\n  }\n}\n\nif (reason) {\n  return [{ json: { skip_trading: true, reason } }];\n}\n\nreturn items;"
      },
      "id": "6a2f9c1b-7e0b-4cf0-9b55-4f4f1a7d2d01",
      "name": "Macro_Event_Gate",
      "type": "n8n-nodes-base.code",
      "position": [
        1008,
        368
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "skip-trading",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.skip_trading === true }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "7b3f9d2c-8f1c-4d12-9c66-5f5f2b8e3e02",
      "name": "If_Skip_Trading",
      "type": "n8n-nodes-base.if",
      "position": [
        1232,
        368
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "=⚠️ *Macro Event Filter*\n\nReason: {{ $json.reason }}\n\n⏰ {{ $now.toFormat('HH:mm:ss') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "8c4f0e3d-9f2d-4e23-9d77-6f6f3c9f4f03",
      "name": "Telegram_Macro_Filter_Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        272
      ],
      "credentials": {
        "telegramApi": {
          "id": "NeCkDlU3OGIVsHG0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH latest AS (\n  SELECT symbol, MAX(timestamp) AS ts\n  FROM ema_snapshots\n  GROUP BY symbol\n)\nSELECT e.symbol, e.close_price, e.ema9, e.ema21, e.ema200, e.rsi14, e.volume, e.volume_ma20\nFROM ema_snapshots e\nJOIN latest l ON e.symbol = l.symbol AND e.timestamp = l.ts",
        "options": {}
      },
      "id": "a8b7f2a1-4b1e-4b2c-9b7a-5a3b2c1d0e9f",
      "name": "get_latest_ema",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1456,
        368
      ],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sentimentItems = $items('get_sentiment_scores');\nconst emaItems = $items('get_latest_ema');\n\nconst emaMap = new Map(emaItems.map(item => [item.json.symbol, item.json]));\n\nconst withEmaFilter = sentimentItems\n  .filter(item => {\n    const ema = emaMap.get(item.json.stock);\n    if (!ema) return false;\n    if (ema.close_price == null || ema.ema9 == null || ema.ema21 == null) return false;\n    if (ema.rsi14 == null || ema.volume == null || ema.volume_ma20 == null) return false;\n    const emaOk = Number(ema.ema9) > Number(ema.ema21);\n    const rsiOk = Number(ema.rsi14) < 70;\n    const volumeOk = Number(ema.volume) > Number(ema.volume_ma20);\n    return emaOk && rsiOk && volumeOk;\n  })\n  .map(item => ({\n    json: {\n      ...item.json,\n      ema: emaMap.get(item.json.stock),\n      ema_filter_applied: true\n    }\n  }));\n\nconst baseList = withEmaFilter.length > 0 ? withEmaFilter : sentimentItems;\nconst sortedItems = baseList.sort((a, b) => b.json.sentimentScore - a.json.sentimentScore);\n\nconst maxPerSector = 2;\nconst sectorCounts = new Map();\nconst topItems = [];\n\nfor (const item of sortedItems) {\n  const sector = item.json.sector || 'Unknown';\n  const count = sectorCounts.get(sector) || 0;\n  if (count >= maxPerSector) continue;\n  topItems.push(item);\n  sectorCounts.set(sector, count + 1);\n  if (topItems.length >= 4) break;\n}\n\nreturn topItems"
      },
      "id": "83842ebb-61b9-4a46-ac49-cda85dbb7399",
      "name": "filter_top_sentiment_score",
      "type": "n8n-nodes-base.code",
      "position": [
        1232,
        368
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://paper-api.alpaca.markets/v2/positions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "2c29a945-8788-4fa5-8e4e-f22a69e5df42",
      "name": "Alpaca_get_open_positions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1232,
        368
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const openPositions = $('Alpaca_get_open_positions').all();\nconst topSentiment = $('filter_top_sentiment_score').all();\nconst account = $('Alpaca-get-account-info').first()?.json ?? {};\n\n// Отфильтровать пустые элементы (которые появляются при alwaysOutputData, когда позиций нет)\nconst validOpenPositions = openPositions.filter(pos => pos.json && pos.json.symbol);\n\nconst openPositionSymbols = validOpenPositions.map(pos => pos.json.symbol);\nconst topSentimentSymbols = topSentiment.map(sen => sen.json.stock);\n\nconst positionsNotInTopSentiment = validOpenPositions\n  .filter(pos => !topSentimentSymbols.includes(pos.json.symbol))\n  .map(pos => ({\n    symbol: pos.json.symbol,\n    market_value: pos.json.market_value,\n    qty: pos.json.qty,\n    asset_id: pos.json.asset_id\n  }));\n\nconst symbolsNotInOpenPositions = topSentiment\n  .filter(sen => !openPositionSymbols.includes(sen.json.stock))\n  .map(sen => ({\n    symbol: sen.json.stock,\n  }));\n\nconst totalMarketValue = positionsNotInTopSentiment.reduce((sum, pos) => sum + (parseFloat(pos.market_value) || 0), 0);\n\n// V2: если продавать нечего (портфель пустой или уже соответствует топ-4), используем свободные деньги для первой покупки\nconst availableCash = parseFloat(account.cash ?? account.buying_power ?? '0') || 0;\nconst equity = parseFloat(account.equity ?? account.last_equity ?? availableCash) || 0;\nconst totalBudget = totalMarketValue > 0 ? totalMarketValue : availableCash;\n\n// Risk management (Phase 4)\nconst riskPercent = 0.01; // 1% risk per trade\nconst stopLossPercent = 0.02; // 2% SL\nconst takeProfitPercent = 0.04; // 4% TP (2:1)\nconst maxPositionPercent = 0.25; // cap 25% of equity\n\nconst riskDollars = equity * riskPercent;\nconst baseNotional = stopLossPercent > 0 ? (riskDollars / stopLossPercent) : 0;\nconst maxNotional = equity * maxPositionPercent;\nconst perSymbolBudget = symbolsNotInOpenPositions.length > 0\n  ? totalBudget / symbolsNotInOpenPositions.length\n  : 0;\nconst valuePerSymbol = Math.max(0, Math.min(baseNotional, maxNotional, perSymbolBudget));\n\nconst symbolsWithMarketValue = symbolsNotInOpenPositions.map(item => ({\n  ...item,\n  market_value_per_symbol: valuePerSymbol,\n  stop_loss_percent: stopLossPercent,\n  take_profit_percent: takeProfitPercent\n}));\n\nconst hasPositionsToOpen = symbolsWithMarketValue.length > 0 && valuePerSymbol > 0;\n\nreturn [\n  {\n    json: {\n      positions_not_in_top_sentiment: positionsNotInTopSentiment,\n      symbols_not_in_open_positions: symbolsWithMarketValue,\n      has_positions_to_close: positionsNotInTopSentiment.length > 0,\n      has_positions_to_open: hasPositionsToOpen\n    }\n  }\n];"
      },
      "id": "dbc4280b-e93b-406c-8c69-d978f55bfc5b",
      "name": "create_positions_to_close_and_positions_two_open",
      "type": "n8n-nodes-base.code",
      "position": [
        1456,
        368
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fa58c3b2-1da8-4bd2-97a2-b0e2c8e5d4fd",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_positions_to_close }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "55cc57c5-e76c-4292-8d5a-d0447a39a094",
      "name": "check_has_positions_to_close",
      "type": "n8n-nodes-base.if",
      "position": [
        1904,
        272
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3d8bfa6e-524b-4b3b-92f1-2e20dd2f5d71",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_positions_to_open }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "id": "319a5293-54e3-4967-a5c2-19ad096e8ad1",
      "name": "check_has_positions_to_open",
      "type": "n8n-nodes-base.if",
      "position": [
        1680,
        464
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "positions_not_in_top_sentiment",
        "options": {}
      },
      "id": "08ea55bc-f3a7-4cc2-b60f-67b3155b3b3e",
      "name": "positions_to_close",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2128,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://paper-api.alpaca.markets/v2/positions/{{ $('positions_to_close').item.json.symbol }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "c17e8b91-ec8d-4b66-8e83-d939e703da0f",
      "name": "Alpaca-post-order-sell",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2352,
        272
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "symbols_not_in_open_positions",
        "options": {}
      },
      "id": "4108f23e-353b-4748-931d-3c813cb84442",
      "name": "positions_to_open",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1904,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "1cb43515-8d3b-40f8-b7f7-d1af227cbbf8",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        2128,
        464
      ],
      "webhookId": "3d1031f5-7a20-4c3a-8791-748e93830402",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://data.alpaca.markets/v2/stocks/{{ $('positions_to_open').item.json.symbol }}/trades/latest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "7a2c4f0d-8b1e-4c5d-9e7f-0a1b2c3d4e5f",
      "name": "Alpaca_Get_Latest_Trade",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2352,
        464
      ],
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const symbol = $('positions_to_open').item.json.symbol;\nconst notional = Number($('positions_to_open').item.json.market_value_per_symbol || 0);\nconst stopLossPercent = Number($('positions_to_open').item.json.stop_loss_percent || 0.02);\nconst takeProfitPercent = Number($('positions_to_open').item.json.take_profit_percent || 0.04);\n\nconst price = Number($json.trade?.p || $json.last?.p || $json.p || 0);\nif (!price || !notional) {\n  return { json: { symbol, qty: 0, notional, price, stop_price: null, take_profit: null } };\n}\n\nconst qty = Number((notional / price).toFixed(6));\nconst stop_price = Number((price * (1 - stopLossPercent)).toFixed(2));\nconst take_profit = Number((price * (1 + takeProfitPercent)).toFixed(2));\n\nreturn {\n  json: {\n    symbol,\n    qty,\n    notional,\n    price,\n    stop_price,\n    take_profit\n  }\n};"
      },
      "id": "0b1c2d3e-4f5a-6b7c-8d9e-0f1a2b3c4d5e",
      "name": "Build_Bracket_Order",
      "type": "n8n-nodes-base.code",
      "position": [
        2576,
        464
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.symbol }}"
            },
            {
              "name": "qty",
              "value": "={{ $json.qty }}"
            },
            {
              "name": "side",
              "value": "buy"
            },
            {
              "name": "type",
              "value": "market"
            },
            {
              "name": "order_class",
              "value": "bracket"
            },
            {
              "name": "take_profit.limit_price",
              "value": "={{ $json.take_profit }}"
            },
            {
              "name": "stop_loss.stop_price",
              "value": "={{ $json.stop_price }}"
            },
            {
              "name": "time_in_force",
              "value": "day"
            }
          ]
        },
        "options": {}
      },
      "id": "faf661b4-107f-48fc-b1cc-bbe66da80ab9",
      "name": "Alpaca-post-order-buy",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2352,
        464
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "=🔴 *SELL ORDER* 🔴\n\n📊 Symbol: `{{ $('positions_to_close').item.json.symbol }}`\n💵 Value: ${{ Number($('positions_to_close').item.json.market_value).toFixed(2) }}\n📉 Reason: Not in top-4 sentiment\n\n⏰ {{ $now.toFormat('HH:mm:ss') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-sell-alert",
      "name": "Telegram_Sell_Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        272
      ],
      "credentials": {
        "telegramApi": {
          "id": "NeCkDlU3OGIVsHG0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "=🟢 *BUY ORDER* 🟢\n\n📊 Symbol: `{{ $('positions_to_open').item.json.symbol }}`\n💵 Value: ${{ Number($('positions_to_open').item.json.market_value_per_symbol).toFixed(2) }}\n📈 Reason: Top-4 sentiment\n\n⏰ {{ $now.toFormat('HH:mm:ss') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-buy-alert",
      "name": "Telegram_Buy_Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        464
      ],
      "credentials": {
        "telegramApi": {
          "id": "NeCkDlU3OGIVsHG0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "id": "468f4853-acf1-4802-bdaf-c7902881652f",
      "name": "merge_orders_to_write_to_sheets",
      "type": "n8n-nodes-base.merge",
      "position": [
        2576,
        368
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO positions (date, symbol, order_type, value)\nVALUES (\n  CURRENT_DATE,\n  '{{ $json.symbol }}',\n  '{{ $json.side }}',\n  {{ $json.side == 'buy' ? $json.notional : $('positions_to_close').item.json.market_value }}\n)",
        "options": {}
      },
      "id": "5b5b4a9e-0b6d-4c1b-8f3a-9d7f8e2c3f4a",
      "name": "save_positions_to_db",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2800,
        368
      ],
      "typeVersion": 2.4,
      "credentials": {
        "postgres": {
          "id": "gdEjFpQ7Jf6e0OER",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://paper-api.alpaca.markets/v2/account",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "options": {}
      },
      "id": "get-portfolio-summary",
      "name": "Get_Portfolio_Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3024,
        368
      ],
      "credentials": {
        "httpCustomAuth": {
          "id": "GMo7eqsdOII9unPE",
          "name": "Custom Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "356747848",
        "text": "=📊 *PORTFOLIO SUMMARY* 📊\n\n💰 Total Value: ${{ Number($json.equity).toFixed(2) }}\n📈 Daily P/L: ${{ Number($json.equity - $json.last_equity).toFixed(2) }} ({{ (($json.equity - $json.last_equity) / $json.last_equity * 100).toFixed(2) }}%)\n💵 Cash: ${{ Number($json.cash).toFixed(2) }}\n📦 Buying Power: ${{ Number($json.buying_power).toFixed(2) }}\n\n⏰ {{ $now.toFormat('HH:mm:ss') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-portfolio-summary",
      "name": "Telegram_Portfolio_Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        368
      ],
      "credentials": {
        "telegramApi": {
          "id": "NeCkDlU3OGIVsHG0",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## V2 Changes ✅\n- Weekend guard: runs only Mon-Fri (Asia/Jerusalem)\n- First buy supported: if no sells, uses Alpaca account cash/buying_power to allocate buys\n- Prevents buy orders with 0 notional\n\nNote: sell uses DELETE /v2/positions/{symbol} (full close).",
        "height": 420,
        "width": 560,
        "color": 2
      },
      "id": "9c3bf852-2793-495a-baf3-0abed7071ba7",
      "name": "Sticky Note - V2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "no-trades-check-1",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_positions_to_close }}",
              "rightValue": false
            },
            {
              "id": "no-trades-check-2",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.has_positions_to_open }}",
              "rightValue": false
            }
          ]
        },
        "options": {}
      },
      "id": "check-no-trades",
      "name": "Check_No_Trades",
      "type": "n8n-nodes-base.if",
      "position": [
        1680,
        560
      ],
      "typeVersion": 2.2,
      "notes": "Проверяет, что нет ни покупок, ни продаж -> отправляет summary напрямую"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "If Weekday (Mon-Fri)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Weekday (Mon-Fri)": {
      "main": [
        [
          {
            "node": "Alpaca-get-account-info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca-get-account-info": {
      "main": [
        [
          {
            "node": "save_account_balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_account_balance": {
      "main": [
        [
          {
            "node": "get_max_balance_30d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_max_balance_30d": {
      "main": [
        [
          {
            "node": "check_drawdown_limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_drawdown_limit": {
      "main": [
        [
          {
            "node": "If_Drawdown_Exceeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Drawdown_Exceeded": {
      "main": [
        [
          {
            "node": "Telegram_Drawdown_Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_sentiment_scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_sentiment_scores": {
      "main": [
        [
          {
            "node": "Macro_Event_Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macro_Event_Gate": {
      "main": [
        [
          {
            "node": "If_Skip_Trading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Skip_Trading": {
      "main": [
        [
          {
            "node": "Telegram_Macro_Filter_Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_latest_ema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_latest_ema": {
      "main": [
        [
          {
            "node": "filter_top_sentiment_score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_top_sentiment_score": {
      "main": [
        [
          {
            "node": "Alpaca_get_open_positions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca_get_open_positions": {
      "main": [
        [
          {
            "node": "create_positions_to_close_and_positions_two_open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_positions_to_close_and_positions_two_open": {
      "main": [
        [
          {
            "node": "check_has_positions_to_close",
            "type": "main",
            "index": 0
          },
          {
            "node": "check_has_positions_to_open",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check_No_Trades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_has_positions_to_close": {
      "main": [
        [
          {
            "node": "positions_to_close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_has_positions_to_open": {
      "main": [
        [
          {
            "node": "positions_to_open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "positions_to_close": {
      "main": [
        [
          {
            "node": "Telegram_Sell_Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram_Sell_Alert": {
      "main": [
        [
          {
            "node": "Alpaca-post-order-sell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca-post-order-sell": {
      "main": [
        [
          {
            "node": "merge_orders_to_write_to_sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "positions_to_open": {
      "main": [
        [
          {
            "node": "Telegram_Buy_Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram_Buy_Alert": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Alpaca_Get_Latest_Trade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca_Get_Latest_Trade": {
      "main": [
        [
          {
            "node": "Build_Bracket_Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build_Bracket_Order": {
      "main": [
        [
          {
            "node": "Alpaca-post-order-buy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alpaca-post-order-buy": {
      "main": [
        [
          {
            "node": "merge_orders_to_write_to_sheets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge_orders_to_write_to_sheets": {
      "main": [
        [
          {
            "node": "save_positions_to_db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_positions_to_db": {
      "main": [
        [
          {
            "node": "Get_Portfolio_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Portfolio_Summary": {
      "main": [
        [
          {
            "node": "Telegram_Portfolio_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_No_Trades": {
      "main": [
        [
          {
            "node": "Get_Portfolio_Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "2c5b1575ddd1ce97f568eb6f35b192523455a69713066ed09981997135e408e8"
  }
}